<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= fa_icon 'sticky-note 2x' %>
  <% end %>
  <button aria-controls="responsive-navbar-nav" type="button" aria-label="Toggle navigation" class="navbar-toggler collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="responsive-navbar-nav">
    <div class="ml-auto justify-content-end navbar-nav">
      <div class="nav-item active">
        <%= link_to root_path, class: 'nav-link' do %>
          Home <span class="sr-only">(current)</span>
        <% end %>
      </div>
      <div class="nav-item">
        <a href="" class="nav-link">Notes</a>
      </div>
      <div class="nav-item">
        <a href="" class="nav-link">Create note</a>
      </div>
      <div class="nav-item">
        <%= link_to destroy_user_session_path, class: 'btn btn-outline-primary', type: 'button', method: :delete do %>
          Logout
        <% end %>
      </div>
    </ul>
  </div>
</nav>
