<div class="row">
  <div class="col">
    <% flash.each do |key, value| %>
      <div class="alert <%= bootstrap_class_for_flash(key) %> alert-dismissable fade show">
        <%= value %>
        <button class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
  </div>
</div>
